<div class="container">
    <h2>{{formTitle}}</h2>
    <form class="d-flex flex-column" [formGroup]="userForm" (ngSubmit)="saveUser()">
        <mat-form-field>
            <mat-label>{{ 'field.username' | translate }}</mat-label>
            <input matInput formControlName="username" required />
        </mat-form-field>
        <div *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="alert">
            <div *ngIf="userForm.controls['username'].errors">
            Please enter username
          </div>
        </div>
        <mat-form-field>
            <mat-label>{{ 'field.company' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.company" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'field.dni' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.dni" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'field.cuit' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.cuit" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'field.role' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'field.email' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'field.phone_number' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.phoneNumber" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'field.birthdate' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthdate" [ngModelOptions]="{standalone: true}">
            <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'field.birth_location' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.birthLocation" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <div class="d-flex justify-content-between">
            <button mat-flat-button type="button" (click)="redirectToUsers()">
                <mat-icon>arrow_back</mat-icon>{{ 'button.back' | translate }}
            </button>
            <button mat-flat-button color="primary" type="button" [disabled]="!userForm.valid">
                <mat-icon>save</mat-icon>{{ 'button.confirm' | translate }}
            </button>
        </div>
    </form>
</div>