<div class="container">
    <h2>{{formTitle}}</h2>
    <form class="d-flex flex-column">
        <mat-form-field>
            <mat-label>{{ 'user_field.username' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'user_field.company' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.company" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'user_field.dni' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.dni" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'user_field.cuit' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.cuit" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'user_field.role' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'user_field.email' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'user_field.phone' | translate }}</mat-label>
            <input matInput [(ngModel)]="user.phoneNumber" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <div class="d-flex justify-content-between">
            <button mat-flat-button type="button" (click)="redirectToUsers()">
                <mat-icon>arrow_back</mat-icon>{{ 'user_field.return' | translate }}Regresar
            </button>
            <button mat-flat-button color="primary" type="button" (click)="saveUser()">
                <mat-icon>save</mat-icon>{{ 'user_field.confirm' | translate }}Confirmar
            </button>
        </div>
    </form>
</div>
