<div class="vw-100 vh-100">
    <div class="d-flex vh-20 justify-content-center align-items-center flex-column">
        <!-- <img src="https://icon-library.com/images/success-icon-png/success-icon-png-22.jpg" /> -->
        <button mat-button color="primary" (click)="onLogoff()">Bienvenido, usuario {{user.username}}</button>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 g-2 g-md-3">
            <div class="col">
                <div class="card p-5 border bg-light">
                    Usuarios
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    Empresas
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    Acciones
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    Subastas
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    Asambleas
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    Docs. públicos
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    VPP
                </div>
            </div>
            <div class="col">
                <div class="card p-5 border bg-light">
                    Salir
                </div>
            </div>
        </div>
    </div>
</div>