<div class="container" style="width: 280px;">
    <h1 class="display-1 text-center">BIOCERES</h1>
    <h3>{{ 'header.password_recovery' | translate }}</h3>
    <p>{{ 'text.password_recovery' | translate }}</p>
    <form class="d-flex flex-column">
        <mat-form-field>
            <mat-label>{{ 'field.email' | translate }}</mat-label>
            <input matInput type="email" />
        </mat-form-field>
        <button mat-flat-button color="primary" class="text-uppercase" (click)="onRecover()">{{ 'button.restore' | translate }}</button>
    </form>
</div>