<div class="vh-100">
    <div class="d-flex h-100 flex-row">
        <div class="col-md-6 bg-dark d-flex align-items-end justify-content-center">
            <img src="./assets/images/login-bg.png" />
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <h1 class="display-1">BIOCERES</h1>
        <h3>Recuperar Contraseña</h3>
        <p>Ingrese el mail asociado a su cuenta.
            Le enviaremos a su mail un código de validación.</p>
        <form class="d-flex flex-column">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" />
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="onRecover()">RESTABLECER</button>
        </form>
        </div>
    </div>    
</div>


